<h1>Ticket Details</h1>

<table>
  <tr>
    <th>Request Number:</th>
    <td><%= @ticket.request_number %></td>
  </tr>
  <tr>
    <th>Sequence Number:</th>
    <td><%= @ticket.sequence_number %></td>
  </tr>
  <tr>
    <th>Request Type:</th>
    <td><%= @ticket.request_type %></td>
  </tr>
  <tr>
    <th>Request Action:</th>
    <td><%= @ticket.request_action %></td>
  </tr>
  <tr>
    <th>Response Due Date Time:</th>
    <td><%= @ticket.response_due_datetime %></td>
  </tr>
  <tr>
    <th>Primary Service Area Code:</th>
    <td><%= @ticket.primary_service_area_code %></td>
  </tr>
  <tr>
    <th>Additional Service Area Codes:</th>
    <td><%= @ticket.additional_service_area_codes %></td>
  </tr>
  <tr>
    <th>Digsite Info - Well Known Text:</th>
    <td><%= @ticket.well_known_text %></td>
  </tr>
  <tr>
    <th>Excavator - Company Name:</th>
    <td><%= @ticket.excavator.company_name %></td>
  </tr>
  <tr>
    <th>Excavator - Address:</th>
    <td><%= @ticket.excavator.address %></td>
  </tr>
  <tr>
    <th>Excavator - Crew On Site:</th>
    <td><%= @ticket.excavator.crew_on_site ? 'Yes' : 'No' %></td>
  </tr>
</table>

<div id="osm-map"></div>

<script>
// Where you want to render the map.
var element = document.getElementById('osm-map');

// Height has to be set. You can do this in CSS too.
element.style = 'height:300px;';

// Create Leaflet map on map element.
var map = L.map(element);

// Add OSM tile layer to the Leaflet map.
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Target's GPS coordinates.
var target = L.latLng('47.50737', '19.04611');

// Set map's center to target with zoom 14.
map.setView(target, 14);

// Place a marker on the same location.
L.marker(target).addTo(map);
</script>